.parallax-1 {
	width: 100%;
	height: 50px;
	background-color: antiquewhite;
	display: flex;
	justify-content: center;
	align-items: center;
}

.parallax-2 {
	width: fit-content;
	padding: 5px;
	height: 50px;
	background-color: aquamarine;
	display: flex;
	justify-content: center;
	align-items: center;
}

.parallax-empty {
	width: 100%;
	height: 30vh;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-main {
	display: flex;
	gap: 15px;
	margin: 10px;
}

.head-text {
	color: white;
	text-align: center;
	margin-top: 35%;
}
